nav a[href="trending.php"] p {
    color: #FF0064;
    font-weight: 600;
}

.inner_body {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.right_column {
    position: relative;
}

.page_tools {
    position: absolute;
    right: 10px;
    padding: 10px;
    width: 300px;
    height: 85px;
    background-color: #282828;
    border-radius: 3px;
    box-shadow: 1px 1px grey;
}

.page_tools p {
    padding: 1px 1px 1px 2px;
}

.page_tools .search {
    position: relative;
}

.page_tools .search button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    padding: 4px;
    top: -2px;
    right: 1px;
}

.filters {
    padding-top: 1em;
}

.filters p {
    padding-top: 3px;;
}

.filter {
    margin: 1px;
    color: rgb(207, 207, 207);
    height: 20px;
    width: 145px;
}

.filters select {
    background-color: rgb(182, 182, 182);
    color: #282828;
    border-radius: 3px;
    border-width: 1px;
    border-color: grey;
}

input[type=search] {
    background-color: rgb(182, 182, 182);
    color: #282828;
    padding-left: 3px;
    margin: 1px;
    height: 25px;
    width: 294px;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: grey;
}

input[type=text]::placeholder {
    color: black;
}

.album_blocks_three_wide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.release_date_over_album {
    border-radius: 1px;
    padding: 5px;
    color: white;
    position: absolute;
    background-color: rgba(31, 53, 83, 0.4);
    font-size: 0.7em;
    font-weight: 600;
}